.about-container {
  padding-right: 10px;
  margin: 0 auto;
  max-width: 100vw;
  height: 750px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-title {
  font-size: 4rem;
  text-align: center;
  color: var(--l-4);
  margin-bottom: 5px;
}

.name {
  font-weight: 600;
  font-size: 2rem;
  font-style: italic;
}

.about-content {
  text-align: justify;
}

.about-text {
  font-size: 1.5rem;
  color: var(--l-4);
  margin: 5px 0;
}

@media (max-width: 768px) {
  .about-title {
    font-size: 1.8rem;
  }

  .about-text {
    font-size: 0.9rem;
  }

  .about-container {
    padding: 15px;
  }
}
