.video-card-container {
  padding: 10px;
}

.video-card-container h2 {
  font-size: 24px;
  color: var(--l-3);
  margin-bottom: 4px; 
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: 4px;
}

.video-card-grid {
  float: left;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 16px;
  padding: 16px;
}
/* Section Spacing */
.gestures-greetings,
.arm-hand-movements,
.body-posture-movements,
.expressive-movements,
.fitness-exercise-movements {
  margin-bottom: 350px; 
}

/* Responsive Breakpoints */
@media (max-width: 992px) {
  .video-card-grid {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 768px) {
  .video-card-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 576px) {
  .video-card-grid {
    grid-template-columns: 1fr; 
  }
}
