.swiper {
  max-width: 800px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  width: 15px;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.swiper {
  --swiper-pagination-color: var(--l-3);
  --swiper-pagination-bullet-inactive-color: var(--l-4);
}

.button-next,
.button-prev {
  position: absolute;
  top: 50%;
  width: 50px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--btna);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

:is(.button-next, .button-prev):hover {
  background-color: var(--btni);
}

.button-next {
  right: 10px;
}

.button-prev {
  left: 10px;
}