.con-heading {
  color: var(--l-4);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.status-message {
  color: var(--l-3);
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.con-btn {
  padding: 15px;
  border-radius: 7px;
  text-align: center;
  font-size: 1.2rem;
  color: var(--l-4);
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.connected {
  box-shadow: 0 4px 6px var(--btns);
  transition: background-color 0.2s;
  background-color: var(--con);
  &:hover {
    background-color: var(--conh);
    color: var(--l-4);
  }
  &:active {
    background-color: var(--conh);
    color: var(--l-4);
  }
}

.disconnected {
  box-shadow: 0 4px 6px var(--btns);
  transition: background-color 0.2s;
  background-color: var(--rbh);
  &:hover {
    background-color: var(--rbh-1);
    color: var(--l-4);
  }
  &:active {
    background-color: var(--rbh-1);
    color: var(--l-4);
  }
}
