.es-heading {
  color: var(--l-4);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.stop-button {
  background-color: var(--rbh);
  color: var(--l-4);
  font-size: xx-large;
  font-weight: 900;
  padding: 100px;
  cursor: pointer;
  border-radius: 100%;
  margin: 20px 0px;
  transition: background-color 0.25s;
  box-shadow: 0 4px 6px var(--sbh);
  display: flex;
  &:hover {
    background-color: var(--cbh);
  }
  &:active {
    background-color: var(--sbh);
  }
}
