.layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.open {
  margin-left: 300px;
  max-width: 100%;
  min-width: 50%;
  transition: margin-left 500ms ease;
}

.close {
  margin-left: 140px;
  max-width: 100%;
  min-width: 50%;
  transition: margin-left 500ms ease;
}

.connection {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: end;
  align-items: start;
}

.l-btn-container {
  font-size: 50px;
  margin-top: 20px;
  margin-right: 20px;
  color: var(--cl);
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.2s;
  padding: 10px;
  box-shadow: 0 4px 10px var(--l-1);
  z-index: 1000;
}

.l-connected {
  background-color: var(--con);
  &:hover {
    background-color: var(--conh);
    color: var(--l-4);
  }
  &:active {
    background-color: var(--conh);
    color: var(--l-4);
  }
}

.l-disconnected {
  background-color: var(--rbh);
  &:hover {
    background-color: var(--rbh-1);
    color: var(--l-4);
  }
  &:active {
    background-color: var(--rbh-1);
    color: var(--l-4);
  }
}

.em-stop {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: end;
  align-items: start;
}

.stop {
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--l-4);
  background-color: var(--rbh);
  padding: 15px;
  &:hover {
    background-color: var(--rbh-1);
    color: var(--l-4);
  }
  &:active {
    background-color: var(--rbh-1);
    color: var(--l-4);
  }
}
