/* Modal backdrop */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--btns);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal content */
.modal-content {
  background: var(--l-1);
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--btns);
  width: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Close button */
.close-button {
  background-color: var(--cb);
  border: none;
  color: var(--l-4);
  height: 40px;
  width:70px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  box-shadow: 0 4px 6px var(--btns);
}
.close-button:hover {
  background-color: var(--cbh);
}
