#scroll-indicator {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: var(--l-4);
  z-index: 9999;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 50px var(--cl);
  transition: transform 0.1s ease;
}

/* Responsive Design */
@media (max-width: 1440px) {
  #scroll-indicator {
    height: 9px;
    box-shadow: 1px 1px 40px var(--cl);
  }
}

@media (max-width: 1024px) {
  #scroll-indicator {
    height: 8px;
    box-shadow: 1px 1px 30px var(--cl);
  }
}

@media (max-width: 768px) {
  #scroll-indicator {
    height: 7px;
    box-shadow: 1px 1px 20px var(--cl);
  }
}

@media (max-width: 600px) {
  #scroll-indicator {
    height: 6px;
    box-shadow: 1px 1px 15px var(--cl);
  }
}

@media (max-width: 425px) {
  #scroll-indicator {
    height: 5px;
    box-shadow: 1px 1px 10px var(--cl);
  }
}
