@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

.video-card-grid {
  float: left;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 16px;
}

.video-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--l-2);
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--l-1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: clamp(1px, 2vw, 1px);
}

.video-card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px var(--l-1);
}

.video-card__video {
  width: 100%;
  height: clamp(150px, 20vw, 200px);
  object-fit: cover;
}

.video-card__content {
  padding: clamp(12px, 2vw, 20px);
  text-align: center;
}

.video-card__title {
  font-size: clamp(15px, 2vw, 19px);
  margin-bottom: clamp(4px, 1vw, 8px);
  color: var(--l-4);
}

.video-card__buttons {
  display: flex;
  justify-content: center;
  gap: clamp(2px, 1vw, 5px);
}

.btn {
  all: unset;
  padding: clamp(0.2rem, 1vw, 0.6rem) clamp(0.7rem, 3vw, 1rem);
  background-color: var(--l-3);
  color: var(--cl);
  line-height: 1.5;
  font-weight: 600;
  border: 2px solid var(--l-2);
  border-radius: 1000px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
  font-size: clamp(10px, 2vw, 14px);
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  background: var(--l-2);
  border: 2px solid var(--l-2);
  width: 100%;
  height: 103%;
  pointer-events: none;
  transform: skew(30deg) translateY(60);
  transition: transform 0.3s ease;
  z-index: -1;
}

.btn::before {
  --direction: 1;
  top: -103%;
  left: -65%;
}

.btn::after {
  --direction: -1;
  top: 102%;
  left: 60%;
}

.btn:hover::before,
.btn:hover::after {
  transform: skew(30deg) translateY(calc(var(--direction) * 100%));
}

.text-container {
  display: block;
  overflow: hidden;
  position: relative;
}

.text {
  display: block;
  transition: 0.3s;
}

.btn:hover .text:nth-child(1) {
  color: var(--cl);
  translate: 0 80%;
}

.text:nth-child(2) {
  color: var(--cl);
  position: absolute;
  inset: 0;
  translate: 0 -80%;
}

.btn:hover .text:nth-child(2) {
  transition-delay: 0.1s;
  translate: 0 0;
}

/* DROPDOWN MENU */

button,
li,
Link {
  all: unset;
  box-sizing: border-box;
}

#dropdown {
  --border-radius: 6px;
  --shadow-color: 60deg 13% 61%;
  width: 40%;
  background-color: var(--l-3);
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: 0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.3),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.3),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.3);
}

/* DROPDOWN MENU ITEMS AND TOGGLES */
.dropdown-toggle,
.menu-item {
  width: 100%;
  padding: 12px;
  cursor: pointer;
}
:is(.menu-item):first-child {
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}
:is(.menu-item):last-child {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}
:is(.menu-item):hover {
  background-color: var(--l-4);
}

.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-toggle > span {
  color: var(--l-1);
}
i {
  color: var(--l-1);
  transition: 0.25s ease;
}
.dropdown-toggle.open > i {
  rotate: 180deg;
}

/* MENU  */
.dropdown {
  position: relative;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--l-3);
  border-radius: var(--border-radius);
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  width: 100%;
  translate: 0 -12px;
  justify-content: space-around;
}

.menu.open {
  visibility: visible;
  opacity: 1;
  translate: 0 12px;
}

.menu-item:hover {
  visibility: visible;
  opacity: 1;
  translate: 8px 0;
}

@media (max-width: 992px) {
  .video-card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .video-card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1350px) {
  .btn {
    font-size: 0.5rem;
    padding: 0.4rem 1rem;
  }
}

@media (max-width: 780px) {
  .btn {
    font-size: 0.4rem;
    padding: 0.4rem 1.2rem;
  }
}

@media (max-width: 576px) {
  .video-card-grid {
    grid-template-columns: 1fr;
  }
  .btn {
    font-size: 0.3rem;
    padding: 0.4rem 1.5rem;
  }

  .video-card__title {
    font-size: 16px;
  }
}
