.main-content {
    flex: 1;
    transition: margin-left 0.3s ease;
  }
  
  .main-content.sidebar-open {
    margin-left: 250px; /* Sidebar open width */
  }
  
  .main-content.sidebar-closed {
    margin-left: 80px; /* Sidebar closed width */
  }
  